@keyframes LeftToRight{
    0% {
        transform: translateX(-10rem);
        opacity: 0;
    }
    70% {transform: translateX(2rem);}
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes RightToLeft{
    0% {
        transform: translateX(10rem);
        opacity: 0;
    }
    70% {
        transform: translateX(-2rem);
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes moveUp{
    0% {
        opacity: 0;
        transform: translateY(3rem);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}  